/* General Styles */
* {
    box-sizing: border-box;
}
body {
    font-family: "Lucida Console", monospace;
    padding: 10px;
    background: #121212;
    color: white;
    height: 100%;
    margin: 0;
1}
.header {
    padding: 30px;
    text-align: center;
    background: black;
}
.header h1 {
    font-size: 40px;
    color: #B22222;
}
.header p {
    font-size: 18px;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #222;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #B22222;
    color: black;
}
.topnav a.active {
    background-color: #B22222;
    color: white;
}
.leftcolumn {
    float: left;
    width: 55%;
}
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #1e1e1e;
    padding-left: 20px;
}
.card {
    background-color: #333;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
.card h2 {
    font-size: 16px;
    line-height: 1.5;
}
.card p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}
.footer {
    padding:20px;
    text-align: center;
    background: black;
    width; 100%;
{
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
/* Page-Specific Styles */
body.home-page { background-color: #121212; }
body.review-page { background-color: #1a1a1a; }
body.cast-page { background-color: #222; }
body.comics-page { background-color: #181818; }
